extends layout

block content
	div.container
		ul.nav.nav-pills
			li.active(role="presentation")
				a(href="#") Home
			li.active(role="presentation")
				a(href="#") Profile
			li.active(role="presentation")
				a(href="#") Messages